* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    background-color: #8ECBD0;
    padding: 22px 0;
    width: 100vw;
    position: fixed;
    z-index: 1;
}

ul li {
    /* display: inline-block; */
    list-style: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

ul li:hover {
    transform: translateY(-2px);
}

ul li a {
    background-color: #66BFBF;
    color: white;
    padding: 8px;
    border-radius: 8px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    letter-spacing: 2px;
}

ul li a:hover {
    box-shadow: 0 2px 10px #008282;
    background-color: #6dcbcb;
}

.top-container {
    display: flex;
    color: #66BFBF;
    width: auto;
    height: 100vh;
    background-color: #E4F9F5;
    align-items: center;
    justify-content: space-around;
}

.text1 h1 {
    font-size: 3rem;
    letter-spacing: 5px;
    word-spacing: 15px;
    font-family: "Sacramento", cursive;
}

.p1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 1.2rem;
    letter-spacing: 5px;
    word-spacing: 15px;
    padding-left: 10px;
}

.p2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    word-spacing: 15px;
    font-weight: bolder;
    margin-top: 12px;
}

.logo img {
    width: 20vw;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.logo img:hover {
    transform: translatey(-5px);
    box-shadow: 0 2px 10px black;
}

.middle-container {
    width: auto;
    height: 100vh;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    font-size: 2.5rem;
    color: #4a8282;
    font-family: "Montserrat", sans-serif;
}

.card1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 14rem;
    box-shadow: 0 1px 10px #6b9393;
    border-radius: 0 12px 12px 0;
    transition: all 0.3s ease-in-out;
}

.card1:hover {
    transform: translatey(-5px);
    box-shadow: 0 1px 10px #023232;
}

.item1 img {
    width: 15vw;
    /* height: 10vh; */
}

.item2 p {
    padding-left: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    word-spacing: 10px;
}

.card2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 14rem;
    box-shadow: 0 1px 10px #6b9393;
    border-radius: 0 12px 12px 0;
    transition: all 0.3s ease-in-out;
}

.card2:hover {
    transform: translatey(-5px);
    box-shadow: 0 1px 10px #023232;
}

.third-container {
    /* background-color: rgb(40, 82, 108); */
    width: auto;
    height: 100vh;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    font-size: 2rem;
    color: #4a8282;
    font-family: "Montserrat", sans-serif;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 14rem;
}

.about-section img {
    width: 25vw;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.about-section img:hover {
    transform: translatey(-5px);
    box-shadow: 0 2px 10px black;
}

.content {
    padding-left: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    word-spacing: 10px;
}

.btn {
    margin: 12px 43%;
    color: white;
    background-color: #66BFBF;
    border: none;
    border-radius: 8px;
    font-size: 1.09rem;
    padding: 8px 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 10px #046060;
    background-color: #6DCBCB;
}

.last-container {
    width: auto;
    height: 100vh;
}

.contact h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    font-size: 2.5rem;
    color: #4a8282;
    font-family: "Montserrat", sans-serif;
}

.contact {
    padding: 60px 20px;
    text-align: center;
}
.contact p{
    font-size: 1rem;
    word-spacing: 8px;
}
.contact-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px;
    background-color: #66BFBF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}
.contact-form button:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 10px #046060;
    background-color: #6DCBCB;
}

footer{
    background-color: #66BFBF;
    width: auto;
    height: 30vh;
}
.footer-rights{
    text-align: center;
    color: white;
    padding: 50px 0;
    font-size: large;
}
.footer-link{
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.footer-link a{
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease-in-out;
}
.footer-link a:hover{
    border-bottom: 2px solid #1b9393;
    transform: translatey(-3px);
}